{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Light Control</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="{% static "jquery-2.2.4.min.js" %}"></script>
  <script src="{% static "jQuery-Knob-master/dist/jquery.knob.min.js" %}"></script>
  <script>
	$(document).ready(function(){
		$(".select_button").click(function(){
			$(".sel_button").removeClass("sel_button");
        		sel_pk = $(this).attr("id");
			$(this).addClass("sel_button");
			$.ajax({
        			url : "update/", // the endpoint
        			type : "GET", // http method
        			data : {pwm_id:sel_pk}, // data sent with the post request

			        // handle a successful response
			        success : function(json) {
					//alert(json.setting);
					$(".dial").val(json.setting).trigger("change");
					if (json.on) {
						$("#on_button").addClass("light_on");
						$("#on_button").text("Turn Off");
					} else {
						$("#on_button").removeClass("light_on");
						$("#on_button").text("Turn On");
					}
            				console.log("success"); // another sanity check
        			},

				// handle a non-successful response
				error : function(xhr,errmsg,err) {
				    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        			}
    			});
    		});
		$("#on_button").click(function(){
			$(this).toggleClass("light_on");
			$(this).text("Turn On");
			$(".light_on").text("Turn Off");
        		$.ajax({
        			url : "toggle/", // the endpoint
        			type : "POST", // http method
        			data : {pwm_id:sel_pk}, // data sent with the post request

			        // handle a successful response
			        success : function(json) {
            				console.log("success"); // another sanity check
        			},

				// handle a non-successful response
				error : function(xhr,errmsg,err) {
				    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        			}
    			});
    		});
		$(".dial").knob({'release' : function (v) { 
			$.ajax({
        			url : "submit/", // the endpoint
        			type : "POST", // http method
        			data : {pwm_id:sel_pk, setting:v }, // data sent with the post request

			        // handle a successful response
			        success : function(json) {
            				console.log("success"); // another sanity check
        			},

				// handle a non-successful response
				error : function(xhr,errmsg,err) {
				    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        			}
    			});
			
		}
    		});
	});
$(function() {


    // This function gets cookie with a given name
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    /*
    The functions below will create a header with csrftoken
    */

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                // Send the token to same-origin, relative URLs only.
                // Send the token only if the method warrants CSRF protection
                // Using the CSRFToken value acquired earlier
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

});
</script>
<style>
	body {
	   margin:0;
	   padding:0;
	   height:100%;
	}
	#container {
	   min-height:100%;
	   position:relative;
	}
	#header {
	   padding:0px;
	}
	#body {
	   padding:0px;
	   padding-bottom:60px;   /* Height of the footer */
	}
	button {
	    background-color: #555555; /* Black */
	    border: none;
	    color: white;
	    padding: 15px 32px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 16px;
	}
	.sel_button {
	    background-color: #e7e7e7;
	    color: #555555;
	    border: none;
	    padding: 15px 32px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 16px;
	}
	.light_on {
	    background-color: #e7e7e7;
	    color: #555555;
	    border: none;
	    padding: 15px 32px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 16px;
	}
	#footer {
	   position:absolute;
	   bottom:0;
	   width:100%;
	   height:60px;   /* Height of the footer */
	}
</style>
</head>
<body>

<div class="container" style="text-align: center">
  <div id="header">
    <h2 id="lightName">Light Control</h2>
  </div>
<div style="clear:both"></div>
  <div id="body">
    <form method="POST" id="post-form" action="submit/">
      {% csrf_token %}
      <input type="text" value="0" data-min="0" data-max="100" data-angleOffset="-135" data-angleArc="270" data-displayPrevious="true" data-width="300" data-height="300" class="dial">
      <div style="clear:both"></div>
      <button type="button" id="on_button">Turn On</button>
    </form>
  </div>
	<div id="footer">
	  {% for PWM in object_list %}

	    <button type="button" id="{{ PWM.pk }}" class="select_button">{{ PWM.pretty_name }}</button>
	  {% empty %}
	    <p>No lights added</p>
	  {% endfor %}
	</div>
</div>
</body>
</html>
